body {
  background-color: #263238;
}
table {
  margin: 0 auto;
  width: 400px;
  height: 800px;
}
td {
  background-color: #455a64;
  width: 10%; /* column:10 */
  height: 5%; /* row:20 */
}

.default {
  background-color: #455a64;
}

.stick {
  background-color: #03a9f4;
}
